
/* 1. General  */

:root {
    --darkpurple: #5E1FE5;
    --lighterpurple: #8321FF;
    --darkerpurple: #4E26A3;
    --lightgray: #E0E2EA;
    --graybg: #F2F3F4;
    --textcolor: #3C3C3C;
    --gray: #8D8D8D;
    --blue: #2794F9;
    --green: #66C308;
}

* {
	box-sizing: border-box;
}
body {
	font-size: 14px;
}